th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
  tr:hover {background-color: #00af98;}
  nav {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    margin-left: -37%;
    font-weight: bold;
    height: 80px;
    width: 100%;
	  font-family: 'Open Sans', sans-serif;
  }
  label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
	  font-family: 'Open Sans', sans-serif;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover {
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }

  #navhead {
      color: #090a0f;
  }
* {
    text-decoration: none;
}